// Utilities

// Containers

%container {
  width: 100%;
  padding-right: $container-padding;
  padding-left: $container-padding;
  margin: 0 auto;

  @include breakpoint-up(md) {
    padding-right: $container-padding-md;
    padding-left: $container-padding-md;
  }
}

.container {
  @extend %container;

  @include breakpoint-up(md) {
    max-width: $content-max-width + ($container-padding-md * 2);
  }
}

.container-narrow {
  @extend %container;

  @include breakpoint-up(md) {
    max-width: $content-max-width-narrow + ($container-padding-md * 2);
  }
}

// Spacers

@each $size, $spacer in $spacers {
  .m-#{$size} {
    margin: $spacer;
  }

  .mt-#{$size} {
    margin-top: $spacer;
  }

  .mr-#{$size} {
    margin-right: $spacer;
  }

  .mb-#{$size} {
    margin-bottom: $spacer;
  }

  .ml-#{$size} {
    margin-left: $spacer;
  }

  .mv-#{$size} {
    margin-top: $spacer;
    margin-bottom: $spacer;
  }

  .mh-#{$size} {
    margin-right: $spacer;
    margin-left: $spacer;
  }

  .p-#{$size} {
    padding: $spacer;
  }

  .pt-#{$size} {
    padding-top: $spacer;
  }

  .pr-#{$size} {
    padding-right: $spacer;
  }

  .pb-#{$size} {
    padding-bottom: $spacer;
  }

  .pl-#{$size} {
    padding-left: $spacer;
  }

  .pv-#{$size} {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }

  .ph-#{$size} {
    padding-right: $spacer;
    padding-left: $spacer;
  }
}

// Backgrounds
.bg-white {
  background-color: $white;
}

// a11y
.sr-only {
  @include sr-only;
}

.sr-only-focusable {
  @include sr-only;
  @include sr-only-focusable;
}
