@import '@/web/styles/variables';
@import '@/web/styles/mixins';

.post-feed {
  min-height: 100vh;
}

.post-feed__item {
  margin-bottom: $spacer-s;
}

.post-feed__loading-indicator {
  display: block;
  min-height: rem-calc(60);
}
